[edit]
command = "nvim"

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[diff]
command = "delta"
pager = "delta"

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]

[git]
autoCommit = true
autoPush = true

[data]
editor = "nvim"
{{- if eq .chezmoi.os "darwin" }}
gpg_ssh_program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
allowedsignersfile = "/Users/karl/.ssh/allowed_signers"
excludesfile = "/Users/karl/.gitignore"
homebrew_path = "/opt/homebrew/bin/"
{{- else if eq .chezmoi.os "linux" }}
gpg_ssh_program = "/opt/1Password/op-ssh-sign"
allowedsignersfile = "/home/karl/.ssh/allowed_signers"
excludesfile = "/home/karl/.gitignore"
homebrew_path = "/home/linuxbrew/.linuxbrew/bin/"
{{- end }}
