[user]
	name = $USER_NAME
	email = $USER_EMAIL
	signingkey = $USER_SIGNINGKEY
[core]
	editor = vim
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = $HOME/.ssh/allowed_signers
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	merge = merge --verify-signatures -S
