[init]
	defaultbranch = main
[user]
	name = {{ onepasswordRead "op://Personal/dja2uwoa3m5fhh4fektwvbqpcq/name" }}
	email = {{ onepasswordRead "op://Personal/dja2uwoa3m5fhh4fektwvbqpcq/email" }}
	signingkey = {{ onepasswordRead "op://Personal/dja2uwoa3m5fhh4fektwvbqpcq/public key" }}
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ .gpg_ssh_program }}
	allowedsignersfile = {{ .allowedsignersfile }}
[core]
	editor = {{ .editor }}
	excludesfile = {{ .excludesfile }}
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
[rebase]
	updaterefs = true
[includeIf "gitdir:~/Personal/"]
	path = ~/Personal/.gitconfig
[includeIf "gitdir:~/School/"]
	path = ~/School/.gitconfig
[includeIf "gitdir:~/Work/"]
	path = ~/Work/.gitconfig
