{{ onepasswordRead "op://Personal/dja2uwoa3m5fhh4fektwvbqpcq/email" }} namespaces="git" {{ onepasswordRead "op://Personal/dja2uwoa3m5fhh4fektwvbqpcq/public key" }}
{{ onepasswordRead "op://Personal/7kp2wjrlxakl6ljqzrogqbs5p4/email" }} namespaces="git" {{ onepasswordRead "op://Personal/dja2uwoa3m5fhh4fektwvbqpcq/public key" }}
