[user]
	name = {{ onepasswordRead "op://Personal/dja2uwoa3m5fhh4fektwvbqpcq/name" }}
	email = {{ onepasswordRead "op://Personal/dja2uwoa3m5fhh4fektwvbqpcq/email" }}
	signingkey = {{ onepasswordRead "op://Personal/dja2uwoa3m5fhh4fektwvbqpcq/public key" }}
