[init]
	defaultbranch = main
[user]
	name = Karl Hans Laurits
	email = karl@laurits.dev
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIsrn4y3/6pbsLBq4YTIBHEsU+iKngiymW5ZqsunXi4C
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedsignersfile = /Users/karl/.ssh/allowed_signers
[core]
	editor = hx
	excludesfile = /Users/karl/.config/git/ignore
	pager = delta
[interactive]
	difffilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[rebase]
	updaterefs = true
[gitbutler]
	gitbutlerCommitter = 0
