tap "charmbracelet/tap"
tap "dnote/dnote"
tap "homebrew/bundle"
tap "homebrew/services"
tap "pomdtr/tap"
brew "python@3.13"
brew "ansible"
brew "atuin", restart_service: :changed
brew "bandwhich"
brew "bat"
brew "bottom"
brew "chezmoi"
brew "duf"
brew "dust"
brew "exiftool"
brew "eza"
brew "fastfetch"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "glab"
brew "glow"
brew "gnupg"
brew "go"
brew "gopls"
brew "gping"
brew "helix"
brew "lazydocker"
brew "lazygit"
brew "mas"
brew "nushell"
brew "openssh"
brew "opentofu"
brew "poetry"
brew "rainfrog"
brew "ripgrep"
brew "ruff"
brew "sd"
brew "starship"
brew "tealdeer"
brew "xh"
brew "yazi"
brew "zoxide"
brew "charmbracelet/tap/wishlist"
brew "dnote/dnote/dnote"
brew "pomdtr/tap/sunbeam"
cask "1password"
cask "1password-cli"
cask "balenaetcher"
cask "discord"
cask "ghostty"
cask "gitbutler"
cask "goland"
cask "google-chrome"
cask "iina"
cask "linearmouse"
cask "monitorcontrol"
cask "orbstack"
cask "powershell"
cask "pycharm"
cask "raycast"
cask "signal"
cask "steam"
cask "tailscale"
cask "webstorm"
cask "winbox"
cask "zed"
cask "zen-browser"
mas "1Password for Safari", id: 1569813296
mas "Affinity Designer 2", id: 1616831348
mas "Affinity Photo 2", id: 1616822987
mas "Affinity Publisher 2", id: 1606941598
mas "DigiDoc4", id: 1370791134
mas "Dropover", id: 1355679052
mas "Kagi for Safari", id: 1622835804
mas "Keynote", id: 409183694
mas "Messenger", id: 1480068668
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Raycast Companion", id: 6738274497
mas "Reeder", id: 6475002485
mas "Save to Raindrop.io", id: 1549370672
mas "Termius", id: 1176074088
mas "Web eID", id: 1576665083
mas "WhatsApp", id: 310633997
mas "Yubico Authenticator", id: 1497506650
