if status is-interactive
    fish_add_path /opt/homebrew/bin/
    set -g fish_key_bindings fish_vi_key_bindings
    set -g fish_greeting
    fzf --fish | source
    atuin init fish | source
    zoxide init fish | source
    starship init fish | source
    source /Users/karl/.config/op/plugins.sh
end
