[[manager.prepend_keymap]]
on   = [ "g", "d" ]
run  = "cd ~/Downloads"
desc = "Cd to ~/Downloads"

[[manager.prepend_keymap]]
on   = [ "g", "c" ]
run  = "cd ~/.config"
desc = "Cd to ~/.config"

[[manager.prepend_keymap]]
on   = [ "g", "p" ]
run  = "cd ~/Personal"
desc = "Cd to ~/Personal"

[[manager.prepend_keymap]]
on   = [ "g", "s" ]
run  = "cd ~/School"
desc = "Cd to ~/School"

[[manager.prepend_keymap]]
on   = [ "g", "w" ]
run  = "cd ~/Work"
desc = "Cd to ~/Work"
