font-size = 16
theme = dark: tokyonight, light :tokyonight-day
mouse-hide-while-typing = true
background-opacity = 0.9
background-blur-radius = 10
window-padding-x = 4
window-padding-y = 4
window-padding-balance = true
window-inherit-working-directory = true
window-save-state = always
clipboard-trim-trailing-spaces = true
clipboard-paste-protection = true
quick-terminal-position = center
quick-terminal-animation-duration = 0
quick-terminal-autohide = true
macos-titlebar-style = hidden
keybind = global:cmd+grave_accent=toggle_quick_terminal
