theme = dark: tokyonight, light :tokyonight-day
font-size = 16
background-opacity = 0.9
background-blur-radius = 10
window-save-state = always

keybind = global:cmd+grave_accent=toggle_quick_terminal

{{ if eq .chezmoi.os "darwin" }}

macos-titlebar-style = hidden

{{ else if eq .chezmoi.os "linux" }}

{{ end }}
