[user]
	name = {{ onepasswordRead "op://Personal/74eop3gl4jybqwauvhpdwy4emu/name" }}
	email = {{ onepasswordRead "op://Personal/74eop3gl4jybqwauvhpdwy4emu/email" }}
	signingkey = {{ onepasswordRead "op://Personal/74eop3gl4jybqwauvhpdwy4emu/public key" }}
